
*{
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-color: white;
}

main{
    display: flex;
}

nav{
    flex: 1;
    background-color: rgb(34, 49, 61);
    width: 100%;
    height: 100vh;
    padding: 50px 20px;
    color: white;
    position: sticky;
    top: 0;
}
nav a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

body a:hover{
    text-decoration: underline;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text h1{
    font-size: 58px;
    font-weight: 600;
    color: rgb(31, 107, 194);
    padding: 0 0 15px 0;
}
.text p{
    font-size: 28px;
}
.login p{
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
}
.line{
    width: 100%;
    height: 0.5px;
    background-color: rgba(192, 190, 190, 0.726);
    margin: 10px 0;
}
.createAc{
    background-color: rgb(43, 167, 18);
    border: none;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding: 14px;
    margin:  14px 0; 
}
.createAc:hover{
    background-color: rgb(40, 151, 18);
}


.modal {
   position: relative;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(246, 233, 228, 0.747);
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    padding: 10px;
    width: 80%;
    height: auto;
    box-shadow: 0 0 5px rgba(182, 182, 182, 0.849);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  .modal-content .head{
      display: flex;
      justify-content: space-between;
      height: 100px;
      margin: 10px;
  }
  .modal-content .head #close{
      border: none;
      background-color: transparent;
      font-size: 20px;
      font-weight: 900;
      color: rgb(54, 54, 54);
  }
  .head h1{
      font-size: 30px;
      color: black;
      padding: 0;
      cursor: default;
  }
  .head p{
    font-size: 14px;
    color: gray;
  }
  .modal-content form .row{
      display: flex;
    align-items: center;
    padding: 5px;
  }
  .row label{
      width: 190px;
  }
  .modal-content form .title{
      margin: 5px;
      margin-top: 10px;
      color: gray;
      font-size: 12px;
  }
  .modal-content form input ,select{
      width: 100%;
      padding: 12px 5px;
      margin: 5px;
      border: 0.5px solid rgba(121, 121, 121, 0.315);
      border-radius: 0.5rem;
      background-color: rgba(233, 233, 233, 0.281);
  }
  .radio-btn{
    width: 90%;
    border: 1px solid gray;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid rgba(121, 121, 121, 0.315);
    border-radius: 0.5rem;
  }
  .modal-content form p{
      color: gray;
      font-size: 11.5px;
  }
  .modal-content form .createAc{
      background-color: rgb(43, 167, 18);
      border: none;
      width: 100%;
      padding: 8px;
      margin: 15px;
  }
  .modal-content form .createAc:hover{
    background-color: rgb(40, 151, 18);
  }

img{
    width: 80px;
    margin: 0 20px;
}

  