
*{
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    background-color: #F1F6F9;
}


img{
    width: 70px;
    margin: 0 20px;
}
.hide{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}

.head{
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 10px 100px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #394867;
    width: 100%;
}
.head h1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 0;
    cursor: default;
}
.head p{
  font-size: 20px;
  color: rgb(250, 250, 250);
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head h1{
    font-size: 38px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

main{
    display: flex;
    margin-top: 90px;
}

nav{
    display: none;
    flex: 1;
    background-color: #9BA4B4;
    width: 100%;
    padding: 50px 20px;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
}
nav a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

body a:hover{
    text-decoration: underline;
}

.login p{
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
}
.line{
    width: 100%;
    height: 0.5px;
    background-color: rgba(66, 66, 66, 0.726);
    margin: 10px 0;
}
.createAc{
    background-color: rgb(43, 167, 18);
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding: 14px;
    margin:  14px 0; 
}
.createAc:hover{
    background-color: rgb(40, 151, 18);
}


.modal {
   position: relative;
    overflow: auto; /* Enable scroll if needed */
    background-color: #F1F6F9;
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 100%;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    padding: 10px;
    width: 80%;
    height: 100%;
    box-shadow: 0 0 5px rgba(182, 182, 182, 0.849);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  .modal-content form .row{
      display: flex;
    align-items: center;
    padding: 5px;
  }
  .row label{
      width: 190px;
  }
  .modal-content form .title{
      margin: 5px;
      margin-top: 10px;
      color: gray;
      font-size: 12px;
  }
  .modal-content form input:not([type='submit']) ,select{
      width: 100%;
      padding: 12px 15px;
      margin: 5px;
      border: 0.5px solid rgba(121, 121, 121, 0.315);
      border-radius: 0.5rem;
      background-color: rgba(233, 233, 233, 0.281);
  }
  .radio-btn{
    width: 90%;
    border: 1px solid gray;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid rgba(121, 121, 121, 0.315);
    border-radius: 0.5rem;
  }
  .modal-content form p{
      color: gray;
      font-size: 11.5px;
  }

  